@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #252525;
}

.pattern-border {
  /* background-image: url('../../public/newtop2.svg'); */
  position: relative;
  background-size: contain;
  border-radius: 1px;
}

.faded-pattern {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  border-radius: 1px;
}

.faded-pattern:before{
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url('../../public/newtop.svg'); */
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: #252525;

  border-radius: 1px;
}

.main-icons:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../public/main-icons.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.faded-pattern:before {
  opacity: 1;
}

.loading-pattern:before {}




canvas {
  position: absolute;
  top: 0;
}

@font-face {
  font-family: 'fot-rodin_prol';
  src: url('../../public/FOT-Rodin\ Pro\ L.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

main {
  position: relative;
}

h1 {
  color:white;
  font-size: 12px;
  font-family: fot-rodin_prol;
  font-weight: 100;
  -moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
  position: absolute;
  top: 250px;
  left: 50%;
}

#scrollingIndicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  top: 70vh
}